.about-me-section {
  display: flex;
  flex-wrap: wrap;
  padding: 5rem 0 2rem 0;
}

.about-me-info {
  width: 50vw;
  flex: 1;
}

.about-me-info h1 {
  text-align: center;
  padding: 3rem 0 1rem 0;
  font-size: var(--h1-about-me);
  color: var(--white);
}

.custom-underline {
  position: relative;
}

.custom-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 5px; /* underline thickness */
  background-color: var(--orange);
}

.about-me-info p {
  text-align: center;
  font-size: var(--p-about-me);
  padding: 1.5rem;
  color: var(--white);
}

.about-me-image {
  flex-direction: column;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-image img {
  margin: 1.5rem 0;
  height: 300px;
  width: 300px;
  border-radius: 21% 79% 16% 84% / 77% 16% 84% 23%;
}

.socials-hero a {
  color: var(--white);
  text-decoration: none;
  font-size: var(--socials-hero);
  padding: 0 0.5rem;
  text-wrap: nowrap;
  transition: color 0.3s ease-in-out;
}

.wave-image {
  display: block;
  height: 125px;
  width: 100vw;
}
