.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.navbar {
  position: fixed;
  width: 100%;
  color: #000;
  opacity: 0.85;
  z-index: 100;
  box-shadow: 0px 5px 3px 0px var(--solid-black);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
  text-wrap: nowrap;
}

.logo {
  order: 1;
  color: var(--white);
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  font-size: 1.3rem;
}

.navbar a {
  color: var(--white);
  text-decoration: none;
  font-weight: 500;
  transition: var(--transition-hover);
}

.navbar a:hover {
  color: var(--cornflower-blue);
}

/* @media (max-width: 768px) {
} */

/* @media (max-width: 500px) {
  .navbar-container input[type="checkbox"]:checked ~ .logo {
    display: none;
  }
} */
